<script>
	import SoonestTrip from './SoonestTrip.svelte';
	import Footer from './Footer.svelte';
	export let showSoonestTrip = true;
</script>

<aside>
	<slot name="action-btn" />

	{#if showSoonestTrip}
		<SoonestTrip />
	{/if}

	<Footer />
</aside>

<style lang="scss">
	@use 'theme.scss';

	aside {
		display: grid;
		align-self: start;
		grid-gap: theme.$layout-gap;

		position: sticky;
		top: theme.$layout-gap;
	}
</style>
