<script>
</script>

<section>
	<p>
		<b>Created by:</b>
		ТИМА РАДУЖНЫХ ЕДИНОРОЖЕК
	</p>

	<p>
		<b>Team:</b>
		Timur Anufriyev, Arina Fedorovskaya, Nikita Kostenko, Alexey Logachev, Irek
		Nazmiev
	</p>

	<p>
		<b>Repositories:</b>
		<a href="https://gitlab.com/picroc/sqr-project" target="_blank"
			>Frontend</a
		>,
		<a href="https://gitlab.com/anufriyevt/hackthebus" target="_blank"
			>Backend</a
		>
	</p>
</section>

<style lang="scss">
	@use 'theme.scss';

	section {
		a,
		b,
		p {
			font-size: 14px;
			color: theme.$label-color;
		}

		display: grid;
		grid-gap: 7px;
	}
</style>
