<script>
	import Card from '../ui/Card.svelte';

	const trip = {
		id: 1,
		name: `Trip 1`,
		route_from: 'Казань',
		route_to: 'Иннополис',
		departure_date: new Date(),
		pub_date: new Date(),
	};
</script>

<section class="layout-card">
	<h1>Last ride</h1>
	<Card id={1} {trip} isDisabled />
</section>
