<script>
	import axios from 'axios';
	import { TextField, Label, Button } from 'attractions';
	import { user } from '../../stores/apiStores';

	export let isLogin = true;

	const checkEmptyFields = () =>
		!Object.entries({ phone, name, password, password2 })
			.map(([key, val]) =>
				val ? true : ((errors[key] = 'Fill this field'), false)
			)
			.includes(false);
	const checkPhone = () =>
		!!+phone ? true : ((errors.phone = 'Enter valid phone number'), false);
	const checkPasses = () =>
		password === password2
			? true
			: ((errors.password = errors.password2 =
					'Passwords should be identical'),
			  false);

	const processAuthResponse = ({ data: { phone, name, id, token } }) => {
		localStorage.setItem('token', token);
		user.set({ phone, name, id });
		user.setCache({ phone, name, id });
	};

	const processAuthError = err => {
		console.log({ err });
		Object.entries(err.response.data).forEach(
			([key, val]) => (errors[key] = Array.isArray(val) && val.join('\n'))
		);
	};

	const register = () => {
		errors = {};
		if (checkEmptyFields() && checkPhone() && checkPasses()) {
			const post = {
				name,
				phone,
				password,
			};
			user.post(post)
				.then(response => processAuthResponse(response))
				.catch(err => processAuthError(err));
		}
	};

	const login = () => {
		const post = {
			phone,
			password,
		};
		axios
			.post(API_URL + '/auth/', post)
			.then(response => processAuthResponse(response))
			.catch(err => processAuthError(err));
	};
	let phone, name, password, password2;
	let errors = {
		phone,
		name,
		password,
		password2,
	};
</script>

{#if !isLogin}
	<Label>
		Name
		<TextField
			type="name"
			error={errors.name}
			bind:value={name}
			errorClass={'break-spaces'}
		/>
	</Label>
{/if}
<Label>
	Phone number
	<TextField
		type="phone"
		error={errors.phone}
		bind:value={phone}
		errorClass={'break-spaces'}
	/>
</Label>
<Label>
	Password
	<TextField
		type="password"
		error={errors.password}
		bind:value={password}
		errorClass={'break-spaces'}
	/>
</Label>
{#if !isLogin}
	<Label>
		Repeat password
		<TextField
			type="password"
			error={errors.password2}
			bind:value={password2}
			errorClass={'break-spaces'}
		/>
	</Label>
{/if}
{#if errors.non_field_errors}
	<div class="red">{errors.non_field_errors}</div>
{/if}
<Button class={'content-center'} filled on:click={isLogin ? login : register}
	>{isLogin ? 'Log in' : 'Register'}</Button
>
<Button
	class={'content-center'}
	on:click={() => ((errors = {}), (isLogin = !isLogin))}
	>{`Want to ${!isLogin ? 'Login' : 'Register'}?`}</Button
>
