<script>
	import Card from '../ui/Card.svelte';
	import List from '../ui/List.svelte';

	const trips = [
		{
			id: 1,
			name: `Trip 1`,
			route_from: 'Казань',
			route_to: 'Иннополис',
			departure_date: new Date(),
			pub_date: new Date(),
		},
	];
</script>

<List items={trips} let:item>
	<Card id={item.id} trip={item} isDisabled />
</List>
