<script>
	import { Button } from 'attractions';

	import { user } from '../../stores/apiStores';

	const logOut = () => {
		localStorage.setItem('token', null);
		user.setCache({});
		user.set({});
	};
</script>

<h1>
	hello, {$user.name} with number {$user.phone}, nice to meet you!
</h1>

<Button danger outline on:click={logOut} class="content-center">Log out</Button>
