<script>
	import axios from 'axios';
	import { Button } from 'attractions';
	import { router } from '../stores/router';
	import { user } from '../stores/apiStores.js';

	import Card from '../components/ui/Card.svelte';
	import List from '../components/ui/List.svelte';
	import RequestModal from '../components/RequestModal.svelte';
	import AsidePanel from '../components/aside-panel/AsidePanel.svelte';

	import { PROFILE } from '../constants/routes';

	let tripRequests = [];

	const dateFromIsoString = string => new Date(Date.parse(string));

	axios.get(API_URL + '/passengers/').then(response => {
		if (response.data && response.data.length) {
			tripRequests = response.data.map(
				(
					{ route_from, route_to, departure_date, pub_date, id },
					idx
				) => ({
					id: id,
					name: `Trip request ${idx}`,
					route_from,
					route_to,
					departure_date: dateFromIsoString(departure_date),
					pub_date: dateFromIsoString(pub_date),
				})
			);
		}
		console.log(response.data);
		console.log(new Date(Date.parse(response.data[0].departure_date)));
	});

	let isModalOpen = false;

	const openModal = () => {
		if ($user.id) {
			isModalOpen = true;
		} else {
			router.setRoute(PROFILE);
		}
	};
</script>

<article class="layout-page">
	<List items={tripRequests} let:item>
		<Card id={item.id} name="Trip request" trip={item} isDisabled />
	</List>

	<AsidePanel showSoonestTrip={false}>
		<div slot="action-btn">
			<Button
				filled
				class="content-center"
				style="width: 100%"
				on:click={openModal}>Request a trip</Button
			>
		</div>
	</AsidePanel>

	<RequestModal
		{isModalOpen}
		urlPath="/passengers/"
		title="Request a trip"
		buttonContent="Request"
	/>
</article>
