<script>
	import Auth from './../components/profile/Auth.svelte';
	import { user } from '../stores/apiStores.js';
	import { router } from '../stores/router';
	import { Dialog } from 'attractions';
	import { TRIPS } from '../constants/routes.js';
	import UserInfo from '../components/profile/UserInfo.svelte';
	import UserTrips from '../components/profile/UserTrips.svelte';

	let isLogin;
</script>

<div class="center">
	<Dialog
		title={$user.id ? 'Profile' : isLogin ? 'Login' : 'Registration'}
		closeCallback={() => router.setRoute(TRIPS)}
		constrainWidth
	>
		<div class="profile-page">
			{#if $user.id}
				<UserInfo />
			{:else}
				<Auth bind:isLogin />
			{/if}
		</div>
	</Dialog>
	{#if $user.id}
		<div class="profile-trips">
			<Dialog
				title="Your trips"
				closeCallback={() => router.setRoute(TRIPS)}
			>
				<div class="profile-trips_content">
					<UserTrips />
				</div>
			</Dialog>
		</div>
	{/if}
</div>

<style lang="scss">
	@use 'theme.scss';

	.center {
		display: grid;
		justify-items: center;
		grid-gap: theme.$layout-gap;
	}
	.profile-page {
		display: grid;
		align-content: center;
		justify-content: stretch;
		gap: 2vh;
	}

	.profile-trips_content {
		display: grid;
		align-content: center;
		justify-content: stretch;
		gap: 2vh;
	}
</style>
