<script>
	import Logo from './Logo.svelte';
	import Nav from './Nav.svelte';
	import ProfileIcon from './ProfileIcon.svelte';
</script>

<header class="layout-card">
	<Logo />
	<Nav />
	<ProfileIcon />
</header>

<style lang="scss">
	header {
		display: grid;
		align-items: center;

		grid-template-columns: 1fr 3fr min-content;
		grid-gap: 60px;

		&.layout-card {
			padding: 0 15px;
		}
	}
</style>
