<script>
	import { H2, Button } from 'attractions';
	import { TRIPS } from '../../constants/routes';
	import { router } from '../../stores/router';
</script>

<Button small on:click={() => router.setRoute(TRIPS)}>
	<H2 id="logo">HackTheBus</H2>
</Button>

<style>
	:global(#logo) {
		font-weight: 700;
		margin: 0;
	}
</style>
