<script>
	import { Button } from 'attractions';
	import { PASSENGERS, TRIPS } from '../../constants/routes.js';
	import { router } from '../../stores/router.js';
</script>

<nav>
	<Button
		selected={$router.route == TRIPS}
		on:click={() => router.setRoute(TRIPS)}>Trips</Button
	>
	<Button
		selected={$router.route == PASSENGERS}
		on:click={() => router.setRoute(PASSENGERS)}>Passengers</Button
	>
</nav>

<style>
	nav {
		display: flex;
		gap: 15px;
	}
</style>
