<script>
	import axios from 'axios';

	import {
		Button,
		Modal,
		Dialog,
		FormField,
		TextField,
		DatePicker,
		TimePicker,
	} from 'attractions';
	import Map from './map/Map.svelte';

	import { getHeaders } from '../stores/apiStores.js';
	import { formatDate, formatTime } from '../utils.js';

	export let isModalOpen = false;
	export let urlPath = '';
	export let title = '';
	export let buttonContent = '';

	let start, destination, date, time, status;
	let error = { start, destination, datetime: undefined };

	const onFormSubmit = () => {
		error = {
			start: !start && 'Please, choose the start point',
			destination: !destination && 'Please, choose the destination point',
			datetime: !(date && time) && 'Please, pick the date and time',
		};

		if (!Object.values(error).find(Boolean)) {
			axios
				.post(
					API_URL + urlPath,
					{
						route_from: start,
						route_to: destination,
						departure_date: `${formatDate(date)} ${formatTime(
							time
						)}`,
					},
					getHeaders(true)
				)
				.then(res => {
					status = 'SUCCESS';

					setTimeout(() => {
						status = undefined;
						isModalOpen = false;
					}, 3000);
				})
				.catch(err => {
					console.error(err);
					status = 'ERROR';
					setTimeout(() => {
						status = undefined;
					}, 5000);
				});
		}
	};

	ymaps.ready(function() {
		let suggestViewStart = new ymaps.SuggestView('suggest-start');
		let suggestViewDestination = new ymaps.SuggestView(
			'suggest-destination'
		);

		suggestViewStart.events.add('select', e => {
			start = e.originalEvent.item.displayName;
			error.start = undefined;
		});

		suggestViewDestination.events.add('select', e => {
			destination = e.originalEvent.item.displayName;
			error.destination = undefined;
		});
	});
</script>

<Modal bind:open={isModalOpen} let:closeCallback>
	<Dialog {title} {closeCallback} class="dialog">
		<div class="dialog__map-wrapper">
			<Map
				id="create-trip"
				sourceCoords={start}
				destinationCoords={destination}
			/>
		</div>

		<FormField name="Start point" required>
			<TextField
				type="search"
				id="suggest-start"
				error={error.start}
				on:input={e => {
					if (error.start) error.start = undefined;
					if (e.detail.value === '') start = undefined;
				}}
			/>
		</FormField>

		<FormField name="Destination point" required>
			<TextField
				type="search"
				id="suggest-destination"
				error={error.destination}
				on:input={e => {
					if (error.destination) error.destination = undefined;
					if (e.detail.value === '') destination = undefined;
				}}
			/>
		</FormField>

		<FormField name="Date & Time" required errors={[error.datetime]}>
			<DatePicker
				format="%m/%d"
				top
				bind:value={date}
				on:change={() => (error.datetime = undefined)}
			/>

			<TimePicker
				top
				bind:value={time}
				on:change={() => (error.datetime = undefined)}
			/>
		</FormField>

		{#if status === 'SUCCESS'}
			<center style="margin-bottom: 20px">Success!</center>
		{:else if status === 'ERROR'}
			<center style="margin-bottom: 20px;">Error!</center>
		{/if}

		<Button
			filled
			class="content-center"
			style="width: 100%"
			on:click={onFormSubmit}>{buttonContent}</Button
		>
	</Dialog>
</Modal>

<style>
	:global(.dialog) {
		width: 50vw;
	}

	:global(#map-create-trip-228) {
		margin-bottom: 30px;
	}

	.dialog__map-wrapper {
		height: 300px;
		margin-bottom: 20px;
	}
</style>
