@import 'theme.scss';

:root {
	--primary: rgb(79, 164, 246);
	--secondary: #777b7f;
	--gray: #9e9e9e;
	--light-gray: #f5f5f5;
	--right-gray: #eee;
	--dark-gray: rgb(106, 108, 111);
	--gray-300: #e0e0e0;
	--pinned: #c4c9cc;

	--font-size-small: 14px;
	--font-size-medium: 18px;
	--font-size-large: 24px;

	--border-radius-default: 24px;
	--border-radius-x-small: 8px;
	--border-radius-small: 12px;

	--indent-x-small: 2px;
	--indent-small: 4px;
	--indent-medium: 8px;
	--indent-large: 16px;
	--indent-x-large: 20px;
	--indent-xx-large: 24px;
	--indent-xxx-large: 32px;

	--green: #4dcd5e;
	--shadow: rgba(0, 0, 0, 0.75);
	--white: #fff;
	--red: rgb(197, 59, 57);
	--black: #000;
	--light-green: #eeffdf;
	--border-color: rgba(218, 220, 224, 0.75);
}

* {
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

	// transition: all 0.1s ease-in;
	&::-webkit-scrollbar-track {
		border: none;
		border-radius: var(--border-radius-default);
		background-color: var(--light-gray);
		position: absolute;
		right: 25px;
	}

	&::-webkit-scrollbar {
		border-radius: var(--border-radius-default);
		width: 6px;
		background-color: var(--light-gray);
		position: absolute;
		right: 25px;
	}

	&::-webkit-scrollbar-thumb {
		border-radius: var(--border-radius-default);
		background-color: #e3e3e3;
		position: absolute;
		right: 25px;
	}
}

.layout-card {
	padding: 15px;
	background-color: $layout-bg-color;
	border-radius: $layout-border-radius;
	border: $layout-border;
}

.layout-list {
	overflow: auto;
	display: grid;
	align-self: start;
	grid-gap: $layout-gap;
}

.layout-page {
	display: grid;
	grid-template-columns: 5fr 2fr;
	grid-gap: $layout-gap;
}

.list-card {
	min-height: 200px;
}

.content-center {
	place-content: center;
}

.break-spaces {
	white-space: break-spaces;
}

.red {
	color: red;
}
