@forward '~attractions/_variables' with (
  $main: #006ac7,
);

$layout-border-radius: 5px;
$layout-bg-color: white;
$layout-border-color: #e5eaef;
$layout-border: 1px solid $layout-border-color;
$layout-gap: 30px;
$label-color: #a0b3c5;
