<script>
	import { TRIPS, PASSENGERS, PROFILE } from './constants/routes.js';
	import Header from './components/header/Header.svelte';
	import Trips from './pages/Trips.svelte';
	import Passengers from './pages/Passengers.svelte';
	import Profile from './pages/Profile.svelte';
	import { router } from './stores/router';
	import { user } from './stores/apiStores.js';

	const routes = {
		[TRIPS]: Trips,
		[PASSENGERS]: Passengers,
		[PROFILE]: Profile,
	};

	if (localStorage.getItem('token')) {
		user.set(user.getCache() || {});
		let a = $user.id && user.get($user.id);
	}

	router.setRoute(TRIPS);
</script>

<main>
	<Header />
	<svelte:component this={routes[$router.route]} {...$router.props} />
</main>

<style lang="scss">
	@use 'theme.scss';

	main {
		margin: auto;
		width: 75vw;
		padding: 30px;

		display: grid;
		grid-template-rows: 60px auto;
		grid-gap: theme.$layout-gap;
	}
</style>
