<script>
	export let id, sourceCoords, destinationCoords;
	let myMap, multiRoute;

	ymaps.ready(function() {
		myMap = new ymaps.Map(`map-${id}`, {
			center: [55.7900923, 49.14591982],
			zoom: 11,
		});
	});

	$: if (myMap !== undefined) {
		if (multiRoute !== undefined) {
			myMap.geoObjects.removeAll();
		}

		multiRoute = new ymaps.multiRouter.MultiRoute(
			{
				// Описание опорных точек мультимаршрута.
				referencePoints: [sourceCoords, destinationCoords],
				// Параметры маршрутизации.
				params: {
					// Ограничение на максимальное количество маршрутов, возвращаемое маршрутизатором.
					results: 2,
				},
			},
			{
				// Автоматически устанавливать границы карты так, чтобы маршрут был виден целиком.
				boundsAutoApply: true,
			}
		);
		myMap.geoObjects.add(multiRoute);
	}
</script>

<div class="map" id={`map-${id}`} />

<style>
	.map {
		width: 100%;
		height: 100%;
	}
</style>
