<script>
	import axios from 'axios';
	import { Button, Chip, H1 } from 'attractions';
	import { formatDate, formatTime } from '../../utils';
	import Map from '../map/Map.svelte';
	import { getHeaders } from '../../stores/apiStores';
	export let id,
		name = '';

	export let isDisabled = false;

	export let trip = {
		id,
		name: `Trip ${id}`,
		route_from: '',
		route_to: '',
		departure_date: new Date(),
		pub_date: new Date(),
	};

	let isDone = false;
	let isMapShown = false;
	let phone = '';

	const onRideClick = () => {
		axios
			.post(`${API_URL}/posts/${id}/choose/`, {}, getHeaders(true))
			.then(_ => {
				isDone = true;
				axios
					.get(`${API_URL}/posts/${id}/show_phone/`, getHeaders(true))
					.then(({ data }) => (phone = data.phone_number))
					.catch(err => (phone = 'Error!'));
			});
	};
</script>

<article class="layout-card">
	<H1>{trip.name || ''}</H1>

	{#if trip.name}
		<div class="row">
			<h3>From:</h3>
			<Chip outlined>{trip.route_from}</Chip>
		</div>

		<div class="row">
			<h3>To:</h3>
			<Chip outlined>{trip.route_to}</Chip>
		</div>

		<div class="row">
			<h3>Departing:</h3>
			<Chip outlined
				>{`${formatDate(trip.departure_date)} ${formatTime(
					trip.departure_date
				)}`}</Chip
			>
		</div>

		<div class="row">
			<Button outline on:click={() => (isMapShown = !isMapShown)}
				>Show map</Button
			>

			{#if !isDisabled}
				<Button filled on:click={onRideClick} disabled={isDone}
					>Let's ride</Button
				>
			{/if}

			{phone}
		</div>
	{:else}
		<br />
		<h1>Loading info...</h1>
	{/if}

	{#if isMapShown}
		<div class="layout-card__map-wrapper">
			<Map
				{id}
				sourceCoords={trip.route_from}
				destinationCoords={trip.route_to}
			/>
		</div>
	{/if}
</article>

<style>
	.layout-card > * {
		margin-bottom: 20px;
	}

	.row {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 20px;
	}

	.layout-card__map-wrapper {
		margin-top: 20px;
		height: 200px;
	}
</style>
