<script lang="typescript">
	export let items: {
		id: number;
		name: string;
		route_from: string;
		route_to: string;
		departure_date: Date;
		pub_date: Date;
	}[] = [];
</script>

<section class="layout-list">
	{#each items as item (item)}
		<slot {item} />
	{/each}
</section>
